body {
  font-family: Arial;
  background: #f2f2f2;
}

#container {
  display: flex;
  gap: 20px;
}

#controls {
  width: 260px;
  background: white;
  padding: 15px;
}

#videoBox {
  position: relative;
  width: 640px;
}

video {
  width: 100%;
  background: black;
}

#timestamp {
  position: absolute;
  top: 20px;
  left: 20px;
  background: black;
  color: white;
  padding: 6px;
  font-family: monospace;
  cursor: move;
}
